<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
             http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

    <!--必须要有name属性，不能为空 -->
    <persistence-unit name="monodevJPA" transaction-type="RESOURCE_LOCAL">
        <mapping-file>com/monodev/mvcstudy/repository/UserEntity.xml</mapping-file>
        <mapping-file>com/example/demo/vo/Student.xml</mapping-file>
        <class>com.monodev.mvcstudy.repository.UserEntity</class>
        <class>com.example.demo.vo.Student</class>


        <!--厂商的特定属性 -->
        <properties>
            <!--配置Hibernate方言 -->
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect" />
            <!--配置数据库驱动 -->
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
            <!--配置数据库用户名 -->
            <property name="hibernate.connection.username"/>
            <!--配置数据库密码 -->
            <property name="hibernate.connection.password"/>
            <!--配置数据库url -->
            <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/mysql" />
            <!--设置外连接抓取树的最大深度 -->
            <property name="hibernate.max_fetch_depth" value="3" />
            <!--自动输出schema创建DDL语句 -->
            <property name="hibernate.hbm2ddl.auto" value="update" />
        </properties>
    </persistence-unit>
    <persistence-unit name="persistenceUnit"/>

</persistence>